@import '~@base/assets/styles/_constants.scss';

.two-step-auth {
	display: flex;
	flex-direction: column;

	padding: {
		block-start: 5rem;
		block-end: 4.5rem;
		inline-start: 4rem;
		inline-end: 4rem;
	}

	inline-size: 49rem;

	@media screen and #{$mediaHeight} {
		padding: 2rem 4rem;
		block-size: calc(100vh - 8rem);
		min-block-size: 35rem;
		max-block-size: 45rem;
		inline-size: 40rem;
	}

	@media screen and #{$mediaMobile} {
		width: 100vw;
		max-width: 100vw;
		padding: 0;
	}

	%with-extend-margin {
		margin: {
			left: 5rem;
			right: 5rem;
		}
	}

	&__back-link {
		font-size: 1.2rem;
		margin: {
			top: 3.5rem;
		}
	}

	&__description {
		@extend %with-extend-margin;

		font-size: 1.3rem;
		margin: {
			top: 2.5rem;
			bottom: 4.5rem;
		}
	}

	&__resend-link {
		margin: {
			block-start: 4rem;
			block-end: 6rem;
		}

		@media screen and #{$mediaHeight} {
			margin: 0;
			display: flex;
			flex: 1;
			inline-size: 100%;
			justify-content: center;
			align-items: center;

			& > * {
				margin-inline-end: 0.5rem;
			}
		}
	}

	&__form {
		display: flex;
		flex-direction: column;

		@media screen and #{$mediaHeight} {
			block-size: 100%;
		}

		@media screen and #{$mediaMobile} {
			align-items: center;
			justify-content: center;
		}
	}

	&__form-input {
		@extend %with-extend-margin;

		@media screen and #{$mediaMobile} {
			width: calc(100% - 4rem);
		}
	}
}
