@import '~@base/assets/styles/colors';

.tooltip {
  padding: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  opacity: 1 !important;

  &:before, &:after {
    display: none;
  }
}