@font-face {
	font-family: 'San Francisco(SF UI)';
	src:
		local('San Francisco(SF UI) Display Regular'),
		local('San-Francisco(SF-UI)-Display-Regular'),
		url('~@base/assets/fonts/SFUIDisplay-Regular.woff2') format('woff2'),
		url('~@base/assets/fonts/SFUIDisplay-Regular.woff') format('woff'),
		url('~@base/assets/fonts/SFUIDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'San Francisco(SF UI)';
	src:
		local('San Francisco(SF UI) Display Medium'),
		local('San-Francisco(SF-UI)-Display-Medium'),
		url('~@base/assets/fonts/SFUIDisplay-Medium.woff2') format('woff2'),
		url('~@base/assets/fonts/SFUIDisplay-Medium.woff') format('woff'),
		url('~@base/assets/fonts/SFUIDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'San Francisco(SF UI)';
	src:
		local('San Francisco(SF UI) Display Semibold'),
		local('San-Francisco(SF-UI)-Display-Semibold'),
		url('~@base/assets/fonts/SFUIDisplay-Semibold.woff2') format('woff2'),
		url('~@base/assets/fonts/SFUIDisplay-Semibold.woff') format('woff'),
		url('~@base/assets/fonts/SFUIDisplay-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'San Francisco(SF UI)';
	src:
		local('San Francisco(SF UI) Display Bold'),
		local('San-Francisco(SF-UI)-Display-Bold'),
		url('~@base/assets/fonts/SFUIDisplay-Bold.woff2') format('woff2'),
		url('~@base/assets/fonts/SFUIDisplay-Bold.woff') format('woff'),
		url('~@base/assets/fonts/SFUIDisplay-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
