{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "plugin:redux-saga/recommended",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "jest",
    "react",
    "import",
    "react-hooks",
    "redux-saga",
    "modules-newline",
    "flowtype"
  ],
  "rules": {
    "modules-newline/import-declaration-newline": "warn",
    "modules-newline/export-declaration-newline": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-tabs": "off",
    "indent": [
      "error",
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "react/jsx-indent": [
      "error",
      "tab"
    ],
    "react/jsx-indent-props": [
      "error",
      "tab"
    ],
    "react/prefer-stateless-function": 0,
    "react/button-has-type": "off",
    "react/default-props-match-prop-types": [
      "error",
      {
        "allowRequiredDefaults": true
      }
    ],
    "react/require-default-props": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.spec.js",
          "**/*.stories.js"
        ]
      }
    ],
    "jsx-a11y/href-no-hash": [
      "off"
    ],
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "max-len": [
      "warn",
      {
        "code": 130,
        "tabWidth": 2,
        "ignoreComments": false,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "array-bracket-spacing": [
      "error",
      "always",
      {
        "singleValue": false
      }
    ],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0 }],
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "@starter/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@base/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@mg/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@auth/**",
            "group": "external",
            "position": "after"
          }
        ],
        "newlines-between": "always"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@starter",
            "./src/Starter"
          ],
          [
            "@base",
            "./src/Base"
          ],
          [
            "@mg",
            "./src/Monitoring"
          ],
          [
            "@auth",
            "./src/Authorization"
          ],
        ]
      },
      "node": {
        "moduleDirectory": [
          "node_modules"
        ]
      }
    }
  }
}
