@import '~@base/assets/styles/_constants.scss';

.navigation {
	display: flex;
	align-items: center;

	@media screen and #{$mediaMobile} {
		display: flex;
		flex-direction: column-reverse;
	}

	&__title {
		flex: 1;

		@media screen and #{$mediaMobile} {
			margin-block-end: 1.4rem;
			font-size: 3rem;
		}
	}

	&__links {
		@media screen and #{$mediaMobile} {
			margin-block-end: 0;
		}
	}
}
