.label {
	padding: 7px 10px;
	font-size: 13px;
	font-weight: 500;
	border-radius: 6px;
}

.success {
	background-color: #d5f2ea;
	color: #00c48c;
}

.error {
	background-color: #fbe4e8;
	color: #ff647c;
}

.warning {
	background-color: #ffe8da;
	color: #ffa26b;
}
