@import '~@base/assets/styles/colors';

.checkbox {
	color: $checkbox-text-color;
	font-family: 'San Francisco(SF UI)', sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.2;

	input {
		display: none;
		font: inherit;
	}

	label {
		align-items: center;
		display: inline-flex;
	}

	&--theme--secondary {
		background-color: transparent;
		border-radius: 4px;
		padding: 0.4rem;
	}

	&--checked[class*='checkbox--theme--secondary'] {
		background-color: $checkbox-secondary-background;
	}

	&__box {
		border-color: $checkbox-border;
		border-radius: 2px;
		border-style: solid;
		border-width: 1px;
		box-sizing: border-box;
		display: inline-block;
		flex: 0 0 0;
		font-size: 0;
		line-height: 0;
		margin-right: 5px;
		padding: 3px;

		&::before {
			background-color: transparent;
			border-radius: 1px;
			content: ' ';
			display: inline-block;
			height: 10px;
			width: 10px;
		}

		&--checked {
			&::before {
				background-color: $checkbox-fill;
			}
		}
	}

	&__cursor {
		cursor: pointer;
	}
}
