@import '~@base/assets/styles/colors';

.switcher {
	width: 3.5rem;
	height: 2rem;
	border-radius: 1.5rem;
	background-color: $switcher-background;
	transition: all 0.3s ease;

	&--active {
		background-color: $switcher-background-active;
	}

	&__input {
		display: none;
	}

	&__slider {
		&::before {
			position: absolute;
			content: ' ';
			height: 1.8rem;
			width: 1.8rem;
			border-radius: 50%;
			background-color: $switcher-slider;
			cursor: pointer;
			transition: all 0.3s ease;
			margin-inline-start: 0.1rem;
			margin-block-start: 0.1rem;
		}

		&--active {
			&::before {
				margin-left: 1.5rem;
			}
		}
	}
}
