.chart-options-inputs {
    &__input {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
    
    &__label {
        display: block;
        margin: 3rem 0 1.5rem;
    }
}