
.icon-up-micro:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-down-micro:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-icon:before { content: '\e805'; } /* '' */
.icon-eye:before { content: '\e806'; } /* '' */
.icon-eye-off:before { content: '\e807'; } /* '' */
.icon-history:before { content: '\e809'; } /* '' */
.icon-settings:before { content: '\e80a'; } /* '' */
.icon-notification:before { content: '\e80b'; } /* '' */
.icon-users:before { content: '\e811'; } /* '' */
.icon-backarrow:before { content: '\e813'; } /* '' */
.icon-cancel:before { content: '\e814'; } /* '' */
.icon-down-open-mini:before { content: '\e815'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-minus:before { content: '\e817'; } /* '' */
.icon-up-open-mini:before { content: '\e818'; } /* '' */
.icon-event-log:before { content: '\e819'; } /* '' */
.icon-configurations:before { content: '\e81a'; } /* '' */
.icon-account:before { content: '\e828'; } /* '' */
.icon-close:before { content: '\e82b'; } /* '' */
.icon-arrow-input:before { content: '\e82e'; } /* '' */
.icon-copy:before { content: '\e836'; } /* '' */
.icon-delete:before { content: '\e837'; } /* '' */
.icon-mini-eye:before { content: '\e83a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */